@font-face {
  font-family: "Open Sans Condensed";
  src: url(/src/Assets/fonts/OpenSans_Condensed-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@300&family=Palanquin&family=Roboto+Condensed:wght@300;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Open Sans Condensed", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Bebas Neue", cursive;
  font-family: "Oswald", sans-serif;
  font-family: "Palanquin", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #000000;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content {
  min-height: calc(100vh - 5rem - 5rem - 4rem);
}
.container {
  display: flex;
  flex-direction: column;
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;
}
@media (max-width: 600px) {
  .container {
    width: 95%;
  }
}

.header-element {
  display: flex;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: sticky;
  top: 0;
  margin: 1rem auto;
}
.header-navbar {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  height: 3rem;
  font-size: 18px;
  font-weight: 300;
  width: 90%;
  max-width: 1000px;
}
.nav-icon {
  background-color: #7d7a7a;
  height: 100%;
}
.nav-icon:hover {
  background-color: #9e9999;
}
.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 100%;
  padding: 0 0.5rem;
  font-family: "Palanquin";
  color: #7d7a7a;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
}
.nav-item.active {
  color: #fef9f9;
  cursor: default;
}
.nav-item:hover:not(.active) {
  color: #9e9999;
}
.nav-logo {
  position: absolute;
  z-index: 2;
  width: fit-content;
  height: fit-content;
  left: calc((100vw - 1000px) / 2 - 2rem);
  top: 1rem;
  opacity: 1;
  transition: opacity 0.2s ease-in;
}
.nav-logo.home {
  display: none;
}
@media (max-width: 1100px) {
  .nav-logo {
    height: 2rem;
    position: static;
    left: unset;
    margin: 0 auto;
  }
  .header-element {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .header-navbar {
    display: fixed;
    top: 0;
  }
}
.footer-element {
  width: 100%;
  padding: 1.5rem 0;
}
.footer-navbar {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.footer-navbar > .nav-item {
  font-size: 1.8em;
  letter-spacing: 0.1rem;
}

.home-title {
  text-align: center;
  color: #94949b;
  margin: 2rem auto;
}
.home-title > .name {
  font-family: "Open Sans Condensed";
  font-size: 55px;
  font-weight: 300;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
}

.home-title > .type {
  font-family: "Oswald";
  font-size: 75px;
  font-weight: 300;
  line-height: 73.5px;
  letter-spacing: 0em;
  text-align: center;
}
.showreel-element {
  width: 100%;
}

.showreel-video {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: calc(85vw / 1.77);
  max-height: calc(1000px / 1.77);
}
.showreel-title {
  display: block;
  margin-top: 0.5rem;
  font-family: "Open Sans Condensed";
  font-size: 18px;
  font-weight: 300;
  line-height: 14px;
}
.categories-element {
  width: 100%;
}
.categories-title {
  font-family: "Bebas Neue", cursive;
  text-align: center;
}
.categories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 1rem;
  gap: 1rem;
  justify-items: center;
  margin: 1rem auto 0;
}

.news-element {
  width: 100%;
}
.news-title {
  font-family: "Open Sans Condensed";
  color: #94949b;
  font-size: 50px;
  font-weight: 300;
  line-height: 54px;
  text-align: center;
}
.news-element > .news {
  display: flex;
  flex-direction: column;
}

.news > .news-item {
  display: flex;
  width: 100%;
  margin: 1rem 0;
  padding-bottom: 1rem;
}

.news-item > .img {
  width: 70%;
}
.news-item > .img > img {
  width: 100%;
}
.news-item > hr {
  display: none;
}
.news-item > .news-content {
  width: 30%;
  color: #ffffff;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.news-item > .news-content > .title {
  font-size: 30px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: -0.05em;
  margin-bottom: 1.5rem;
}
.news-item > .news-content > .description {
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: -0.05em;
}
@media (max-width: 1000px) {
  .news > .news-item {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }
  .news-item > .img {
    width: 100%;
  }
  .news-item > .news-content {
    width: 100%;
    margin-left: 0;
  }
  .news-item > hr {
    display: block;
    width: 50%;
    margin: 2rem auto;
    border: 1px solid #7d7a7a;
  }
}
